@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom CSS variables to use with Tailwind */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brand-purple: #633cff;
  --font-family-sans: Inter, sans-serif;
}

/* Optional Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
}
